@import "tailwindcss";

#root {
  min-width: 100%;
  min-height: 100vh;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out forwards;
}

@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    text-shadow: 0 0 20px rgba(102, 191, 149, 0.8);
  }
}

.animate-heading {
  animation: fadeInSlideUp 2s ease-out forwards;
}

@keyframes growButton {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.grow-after-delay {
  display: inline-block;
  animation: growButton 0.5s ease-in-out forwards;
  animation-delay: 3s;
}

@media (max-width: 1290px) {
  .right-container {
    background-color: transparent;
    width: 70%;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .container-text {
    display: none;
  }
  .left-container {
    min-width: 100%;
  }
  .left-container img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .top-login-details {
    width: 450px;
  }
  .bottom-signup-detail {
    width: 450px;
  }
}

@media (min-width: 720px) and(max-width:1290px) {
}

@media (max-width: 720px) {
  .top-login-details {
    width: 100%;
  }
  .bottom-signup-detail {
    width: 100%;
  }
}

@media (max-width: 475px) {
  .right-container {
    width: 300px;
  }
  .top-login-details {
    width: 100%;
    padding: 24px;
  }
  .bottom-signup-detail {
    width: 100%;
    padding: 16px;
  }
  .copyRightSection {
    font-size: 0.85rem;
  }
  .footer-container {
    min-height: 72px;
  }
}